<header>
  <nav>
    <div id="brand">
      <div id="logo"></div>
    </div>
    <div id="menu">
      <div id="menu-toggle">
        <!-- class="closeMenu" -->
        <div id="menu-icon">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <ul>
        <!-- class="showMenu" -->
        <li><a routerLink="books">Books</a></li>
        <li><a routerLink="about">About</a></li>
      </ul>
    </div>
  </nav>
</header>
